.wrapper {
    border: 0px none;
    width: 100%;
}

.container {
    background-color: #fafafa;
}

.democontent-wrapper {
    background-color: #fafafa;
    min-height: 750px;
}

.shape_deco {
    background-color: #034256;
    width: 60%;
    float: right;
    margin-top: -50px;
}

.shape_deco img {float: right; width: 645px; height: 85px;}

.lead {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.tutorial {
    background-color: #eaeaea;
    border-top: 2px solid #999;
    padding: 6px;
    margin-left: -3px;
}

#democontent {
    border: 0px none;
    width:  100%;
    height: 100%;
    padding-bottom: 120px;
}

#democontent h1 { font-size: 24px; }
#democontent h2 { font-size: 22px; }
#democontent h3 { font-size: 20px; }
#democontent h4 { font-size: 18px; }

/* ----- Overview Styling ----- */

.subreddit_list {
    list-style: none outside none;
    margin-left: 0px;
    padding-left: .5em;
    cursor: pointer;
}

.subreddit_list li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 3px;
    border-radius: 3px;
}

.subreddit_list li:hover {
    color: #2f779e;
}

.subreddit_list li.bg-primary:hover { color: white; }

.subreddit_list li:before {
    content: "\00BB \0020";
 }

 .bg-primary {
    background-color: #1e5972;
 }

 /* ----- Content styling ----- */

.subreddit_content, .post_content, .comment_content { display: none; }
.link_post { display: none; }

.post_content .domain:before {
    content: "(";
}

.post_content .domain:after {
    content: ")";
}

.author {
    cursor: pointer;
}

.comment_content {
    border-left: 5px solid #ddd;
    padding-left: 5px;
}

.comment_content p:last-child {
    margin-top -5px;
}

#democontent blockquote {
    font-size: 14px;
}

/* ----- List signup ----- */

.about {
    margin-top: 100px;
}

/* ----- About and Footer ----- */

a {
    color: #2f779e;
}

a:hover {
    color: #216687;
}

#about {
    min-height: 400px;
}

body, html {
    background-color: #044B63;
}

#about div:first-child {
    padding: 4em 0 0.5em;
}

#about h2 {
    font-size: 36px;
    color: #fafafa;
    padding-top: 5px;
}

#footer {
    background-color: #022E3D;
    padding-bottom: 80px;
}

#footer img {
    margin-top: 4em;
}

/* ----- Canvas ----- */

#glcanvas {
    border: 0px none;
    display: block;
    margin: 0px;
    width: 100%;
    position: absolute;
    left: 0;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 150%;
    float: left;
    height: 0;
    margin-left: -15px;
}

.canvas-wrapper img {
    width: 100%;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* mobile webkit */
}
