.wrapper {
    border: 0px none;
    width: 100%;
}

.container {
    background-color: #fafafa;
}

.democontent-wrapper {
    background-color: #fafafa;
    min-height: 750px;
}

.shape_deco {
    background-color: #034256;
    width: 60%;
    float: right;
    margin-top: -50px;
}

.shape_deco img {float: right; width: 645px; height: 85px;}

.lead {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.title {
    padding-top: 1px;
}

.tutorial {
    background-color: #eaeaea;
    border-top: 2px solid #999;
    padding: 6px;
    margin-left: -3px;
}

#democontent {
    border: 0px none;
    width:  100%;
    height: 100%;
    padding-bottom: 120px;
}

#democontent h1 { font-size: 24px; }
#democontent h2 { font-size: 22px; }
#democontent h3 { font-size: 20px; }
#democontent h4 { font-size: 18px; }

/* ----- Overview Styling ----- */

.subreddit_list {
    list-style: none outside none;
    margin-left: 0px;
    padding-left: .5em;
    cursor: pointer;
}

.subreddit_list li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 3px;
    border-radius: 3px;
}

.subreddit_list li:hover {
    color: #2f779e;
}

.subreddit_list li.bg-primary:hover { color: white; }

.subreddit_list li:before {
    content: "\00BB \0020";
 }

 .bg-primary {
    background-color: #1e5972;
 }

 /* ----- Content styling ----- */

.subreddit_content, .post_content, .comment_content { display: none; }
.link_post { display: none; }

.post_content .domain:before {
    content: "(";
}

.post_content .domain:after {
    content: ")";
}

.author {
    cursor: pointer;
}

.comment_content {
    border-left: 5px solid #ddd;
    padding-left: 5px;
}

.comment_content p:last-child {
    margin-top -5px;
}

#democontent blockquote {
    font-size: 14px;
}

/* ----- List signup ----- */

.about {
    padding-top: 5em;
    padding-bottom: 2em;
}

/* ----- About and Footer ----- */

a {
    color: #2f779e;
}

a:hover {
    color: #216687;
}

#about {
    min-height: 400px;
}

body, html {
    background-color: #044B63;
}

#about div:first-child {
    padding: 4em 0 0.5em;
}

#about h2 {
    font-size: 36px;
    color: #fafafa;
    padding-top: 5px;
}

#footer {
    background-color: #022E3D;
    padding-bottom: 80px;
}

#footer img {
    margin-top: 4em;
}

/* ----- Canvas ----- */

#div_canvas {
    min-height: 500px;
}

#glcanvas {
    border: 0px none;
    display: block;
    margin: 0px;
    width: 100%;
    position: absolute;
    left: 0;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    height: 0;
    margin-left: -15px;
}

.canvas-wrapper img {
    width: 100%;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* mobile webkit */
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  margin-top: 30%;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
