.wrapper {
    border: 0px none;
    width: 100%;
}

.container {
    background-color: #fafafa;
}

.lead {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.tutorial {
    background-color: #eaeaea;
    border-top: 2px solid #999;
    padding: 6px;
    margin-left: -3px;
}

#democontent {
    margin-top: 3em;
    border: 0px none;
    width:  100%;
    height: 100%;
}

.subreddit_list {
    list-style: none outside none;
    margin-left: 0px;
    padding-left: .5em;
}

.subreddit_list li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 3px;
}

.subreddit_list li.active {
    background-color: red;
}

.subreddit_list li:before {
    content: "\00BB \0020";
 }

 /* ----- Content styling ----- */

.subreddit_content, .post_content, .comment_content { display: none; }
.link_post { display: none; }


.shape_deco {
    width: 60%;
    float: right;
    margin-top: -50px;
    margin-right: -15px;
}

.shape_deco img {float: right; width: 645px; height: 85px;}

#about {
    min-height: 400px;
}

#about div:first-child, body, html {
    background-color: #022E3D;
}

#about div:first-child {
    padding: 4em 0 0.5em;
}

#about h2 {
    font-size: 36px;
    color: #fafafa;
    padding-top: 5px;
}

#footer {
    background-color: #044B63;
    padding-bottom: 80px;
}

#footer img {
    margin-top: 2em;
}

#glcanvas {
    border: 0px none;
    display: block;
    margin: 0px;
    width: 100%;
    position: absolute;
    left: 0;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 150%;
    float: left;
    height: 0;
    margin-left: -15px;
}

.canvas-wrapper img {
    width: 100%;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* mobile webkit */
}
